<div id="home-page">
    <div id="home-page-landing">
        <div id="home-page-landing">
            <div id="landing-left">
                <div id="landing-left-content">
                    <h1>Social Site</h1>
                    <p>
                        Share Your Day To Day Life 
                    </p>
                    <button (click)="onGetStartedClick()"
                    mat-flat-button color="warm">Get Started</button>
                </div>
            </div>
        </div>

    </div>
</div>
